<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <appender name="jsonConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service_name":"${springAppName:-}"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="jsonConsole"/>
    </root>

</configuration>
